<div
  fxLayout="column"
  fxLayoutAlign="center center"
  mat-dialog-content
  fxLayoutGap="20px"
>
  <h3>
    Login
  </h3>
  <!-- <button
    mat-raised-button
    class="social-button facebook"
    (click)="doLogin(auth.facebookLogin())"
  >
    <i class="cert-icon-facebook"></i>
    Facebook
  </button> -->
  <button
    class="social-button google"
    mat-raised-button
    (click)="doLogin(auth.googleLogin())"
  >
    <i class="cert-icon-google"></i>
    Google
  </button>
  <!-- <button
    class="social-button twitter"
    mat-raised-button
    (click)="doLogin(auth.twitterLogin())"
  >
    <i class="cert-icon-twitter"></i>
    Twitter
  </button> -->
</div>
