<div id="reset-password-form" [formGroup]="resetPasswordForm" class="text-left form-inputs">
  <h2 class="title text-center color-primary">Reset Password</h2>
  <div *ngIf="loading === false; else loadingTemplate">
    <div *ngIf="resetEmailSent; else resetPasswordFormTemplate">
      <div class="px-3">
        <p class="font-size-small color-gray my-0 mt-3"> A reset email has been sent to:</p>
        <p class="font-size-small">{{resetPasswordForm.value.email}}</p>
        <p class="font-size-small color-gray mt-4">Check the email in your inbox or junk/spam folder to reset the
          password</p>
        <p class="font-size-small color-gray mt-5">Didn't receive an email ?</p>

      </div>
      <button class="mat-raised-button cursor-pointer w-100 m-0" (click)="resetPassword()" color="primary">
        Resend reset email
      </button>
    </div>
  </div>

  <ng-template #resetPasswordFormTemplate>
    <div class="font-size-small warn hidden color-warn text-center pb-3">
    {{errorMessage}}
    </div>
    <div class="field w-100">
         <mat-icon class="pl-3">mail</mat-icon>
      <input class="w-100" matInput placeholder="Email" formControlName="email" value="" />
    </div>
    <button class="mat-raised-button cursor-pointer w-100 m-0 mt-3" (click)="resetPassword()" color="primary"
      [disabled]="resetPasswordForm.invalid">
      Reset Password
    </button>

    <div class="cursor-pointer font-size-small color-gray mt-3" routerLink="/login">Back to Sign in<mat-icon class="p-0 w-10">arrow_right_alt</mat-icon> </div>

  </ng-template>


</div>

<ng-template #loadingTemplate>
  <app-embeded-loader></app-embeded-loader>
</ng-template>
