#reset-password-form {
    padding: 0 20%;

    .field {
        position: relative;
        margin-bottom: 1rem;
    }
    .title {
        margin-top: 3rem;
        margin-bottom: 6rem;
    }

    mat-form-field {
        position: relative;
    }

    
    input {
       background: #f1f1f1;
       border: 0; // 1px solid gray
       border-radius: 20px;
       padding: 14px 66px;
    
     }
}
